<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.CashBillItemMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.CashBillItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="costAmount" property="costAmount" jdbcType="DOUBLE" />
    <result column="memberAmount" property="memberAmount" jdbcType="DOUBLE" />
    <result column="bill_id" property="billId" jdbcType="BIGINT" />
    <association property="productInfoId" javaType="ProductInfo" column="p_">
      <id column="id" property="id"/>
      <result column="code" property="code"/>
      <result column="name" property="name"/>
      <result column="price" property="price"/>
      <result column="memberPrice" property="memberPrice"/>
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cashbillitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.CashBillItem" useGeneratedKeys="true" keyProperty="id" >
    insert into cashbillitem (number, costAmount, memberAmount, 
      bill_id, product_id)
    values (#{number}, #{costAmount}, #{memberAmount},
      #{billId}, #{productInfoId.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.CashBillItem" >
    update cashbillitem
    set number = #{number,jdbcType=INTEGER},
      costAmount = #{costAmount,jdbcType=DOUBLE},
      memberAmount = #{memberAmount,jdbcType=DOUBLE},
      bill_id = #{billId,jdbcType=BIGINT},
      product_id = #{productInfoId.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, number, costAmount, memberAmount, bill_id, product_id
    from cashbillitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, number, costAmount, memberAmount, bill_id, product_id
    from cashbillitem
  </select>

  <select id="queryItemsByBillId" resultMap="BaseResultMap">
    select c.id, c.number, c.costAmount, c.memberAmount, c.bill_id, c.product_id,
          p.id p_id , p.code p_code , p.name p_name , p.price p_price , p.memberPrice p_memberPrice
    from cashBillItem c
    left join productinfo p on p.id = c.product_id
    where c.bill_id = #{billId}
  </select>

</mapper>