<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jobNumber" property="jobNumber" jdbcType="BIGINT" />
    <result column="position_id" property="position" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="entryTime" property="entryTime" jdbcType="DATE" />
    <result column="resignationTime" property="resignationTime" jdbcType="DATE" />
    <result column="basePay" property="basePay" jdbcType="DOUBLE" />
    <result column="idCard" property="idCard" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Employee" useGeneratedKeys="true" keyProperty="id" >
    insert into employee (jobNumber, position_id, name, 
      gender, tel, entryTime, 
      resignationTime, basePay, idCard
      )
    values (#{jobNumber,jdbcType=BIGINT}, #{position,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{entryTime,jdbcType=DATE}, 
      #{resignationTime,jdbcType=DATE}, #{basePay,jdbcType=DOUBLE}, #{idCard,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Employee" >
    update employee
    set jobNumber = #{jobNumber,jdbcType=BIGINT},
      position_id = #{position,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      entryTime = #{entryTime,jdbcType=DATE},
      resignationTime = #{resignationTime,jdbcType=DATE},
      basePay = #{basePay,jdbcType=DOUBLE},
      idCard = #{idCard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, jobNumber, position_id, name, gender, tel, entryTime, resignationTime, 
    basePay, idCard
    from employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, jobNumber, position_id, name, gender, tel, entryTime, resignationTime, 
    basePay, idCard
    from employee
  </select>
</mapper>