<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.PetinfoMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Petinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />

    <result column="petName" property="petName" jdbcType="VARCHAR" />
    <result column="petAncestry" property="petAncestry" jdbcType="VARCHAR" />
    <result column="petColour" property="petColour" jdbcType="VARCHAR" />
    <result column="petBirthday" property="petBirthday" jdbcType="DATE" />
    <result column="petGender" property="petGender" jdbcType="INTEGER" />
    <result column="petFeature" property="petFeature" jdbcType="VARCHAR" />
    <result column="petAllergyThing" property="petAllergyThing" jdbcType="VARCHAR" />
    <result column="petAncestryMark" property="petAncestryMark" jdbcType="INTEGER" />
    <result column="petAncestryRegister" property="petAncestryRegister" jdbcType="VARCHAR" />
    <result column="petState" property="petState" jdbcType="VARCHAR" />
    <result column="petPic" property="petPic" jdbcType="VARCHAR" />

    <!--宠物品种-->
    <!--<result column="petVariety_id" property="petvarietyId" jdbcType="BIGINT" />-->

    <!--宠物类别-->
    <!--<result column="petClasses_id" property="petclassesId" jdbcType="BIGINT" />-->

    <!--<result column="member_id" property="member" jdbcType="BIGINT" />-->
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from petinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Petinfo" useGeneratedKeys="true" keyProperty="id" >
    insert into petinfo (member_id, petName, petVariety_id, 
      petAncestry, petColour, petBirthday, 
      petGender, petFeature, petClasses_id, 
      petAllergyThing, petAncestryMark, petAncestryRegister, 
      petState, petPic)
    values (#{member.id,jdbcType=BIGINT},
    #{petName,jdbcType=VARCHAR},
     #{petvarietyId,jdbcType=BIGINT},
      #{petAncestry,jdbcType=VARCHAR},
       #{petColour,jdbcType=VARCHAR}, #{petBirthday,jdbcType=DATE},
      #{petGender,jdbcType=INTEGER},
      #{petFeature,jdbcType=VARCHAR}, #{petclassesId,jdbcType=BIGINT},
      #{petAllergyThing,jdbcType=VARCHAR},
      #{petAncestryMark,jdbcType=INTEGER},
       #{petAncestryRegister,jdbcType=VARCHAR},
      #{petState,jdbcType=VARCHAR}, #{petPic,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Petinfo" >
    update petinfo
    set member_id = #{memberId.id,jdbcType=BIGINT},
      petName = #{petName,jdbcType=VARCHAR},
      petVariety_id = #{petvarietyId,jdbcType=BIGINT},
      petAncestry = #{petAncestry,jdbcType=VARCHAR},
      petColour = #{petColour,jdbcType=VARCHAR},
      petBirthday = #{petBirthday,jdbcType=DATE},
      petGender = #{petGender,jdbcType=INTEGER},
      petFeature = #{petFeature,jdbcType=VARCHAR},
      petClasses_id = #{petclassesId,jdbcType=BIGINT},
      petAllergyThing = #{petAllergyThing,jdbcType=VARCHAR},
      petAncestryMark = #{petAncestryMark,jdbcType=INTEGER},
      petAncestryRegister = #{petAncestryRegister,jdbcType=VARCHAR},
      petState = #{petState,jdbcType=VARCHAR},
      petPic = #{petPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, member_id, petName, petVariety_id, petAncestry, petColour, petBirthday, 
    petGender, petFeature, petClasses_id, petAllergyThing, petAncestryMark, petAncestryRegister, 
    petState, petPic
    from petinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, member_id, petName, petVariety_id, petAncestry, petColour, petBirthday, 
    petGender, petFeature, petClasses_id, petAllergyThing, petAncestryMark, petAncestryRegister, 
    petState, petPic
    from petinfo
  </select>
</mapper>