<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.PetServiceCashMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.PetServiceCash" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="sevname" property="sevname" jdbcType="VARCHAR" />
    <result column="sevid" property="sevid"  />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from petservicecash
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.PetServiceCash" useGeneratedKeys="true" keyProperty="id" >
    insert into petservicecash (price, sevname,sevid)
    values (#{price,jdbcType=DOUBLE}, #{sevname,jdbcType=VARCHAR},#{sevid})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.PetServiceCash" >
    update petservicecash
    set price = #{price,jdbcType=DOUBLE},
      sevname = #{sevname,jdbcType=VARCHAR}
      sevid = #{sevid}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, price, sevname,sevid
    from petservicecash
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, price, sevname,sevid
    from petservicecash
  </select>
</mapper>