<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.RoleMapper" >

  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Role">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
    <result column="sn" property="sn" jdbcType="VARCHAR"/>
    <collection property="employee" ofType="com._520it.crm.domain.Employee" columnPrefix="e_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="realName" property="realName"/>
      <result column="tel" property="tel"/>
      <result column="loginTime" property="loginTime"/>
      <result column="password" property="password"/>
    </collection>
  </resultMap>

  <select id="selectByPrimaryKey" resultType="Role" parameterType="java.lang.Long">
    select  realName,id
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select realName,id
    from role
  </select>

  <sql id="baes_">

  </sql>

  <select id="selectByCount" resultType="long">
    select count(e.id)
    from employee_role er
    RIGHT JOIN employee e on e.id = er.employee_id
    JOIN role r on r.id = er.role_id
  </select>
  <!--封装VO对象查询的数据封装在List<map>集合里-->
  <select id="selectByPageList" resultType="map">
    select  r.id r_id,r.roleName r_roleName,
    e.id e_id, e.name e_name, e.realName e_realName,e.tel e_tel, e.loginTime e_loginTime,e.password e_password
    from employee e
    JOIN employee_role er on e.id = er.employee_id
    JOIN role r on r.id = er.role_id
  </select>

  <select id="selectRoleByEmployeeId" resultType="long">
      select er.role_id
      from employee_role er
      where er.employee_id = #{employeeId}
  </select>

  <!-- 根据员工的id查询拥有的全部角色 -->
  <select id="queryRolesByEmployeeId" resultMap="BaseResultMap">
  	select r.id,r.roleName,r.sn
  	from role r join employee_role er on r.id=er.role_id
  	where er.employee_id=#{id}
  </select>
</mapper>