<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="loginTime" property="loginTime" jdbcType="DATE" />
    <result column="establishTime" property="establishTime" jdbcType="DATE" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Role" useGeneratedKeys="true" keyProperty="id" >
    insert into role (userName, name, tel, 
      loginTime, establishTime, roleName
      )
    values (#{userName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{loginTime,jdbcType=DATE}, #{establishTime,jdbcType=DATE}, #{roleName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Role" >
    update role
    set userName = #{userName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      loginTime = #{loginTime,jdbcType=DATE},
      establishTime = #{establishTime,jdbcType=DATE},
      roleName = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, userName, name, tel, loginTime, establishTime, roleName
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userName, name, tel, loginTime, establishTime, roleName
    from role
  </select>

  <select id="selectByCount" resultType="long">
    select count(id)
    from role
  </select>

  <select id="selectByPageList" resultType="com._520it.crm.domain.Role">
    select id, userName, name, tel, loginTime, establishTime, roleName
    from role
    limit #{start},#{rows}
  </select>
</mapper>